language: python
python:
- 3.5
services: postgresql
install:
- pip install -r requirements.txt
before_script:
- psql -c "CREATE DATABASE travisci;" -U postgres
script:
- python manage.py collectstatic --noinput
- python manage.py makemigrations viewer
- python manage.py migrate
notifications:
  slack:
  email: false
addons:
  code_climate:
    repo_token: "$CODE_CLIMATE_REPO_TOKEN"
deploy:
  provider: heroku
  app: semiotweet
  api_key:
    secure: "$DEPLOY_KEY"
  on:
    all_branches: true
