language: python

cache:
- pip

python:
- '3.4'
- '3.5'
- '3.6'

services: postgresql

before_install:
- virtualenv venv

install:
- pip install --upgrade pip
- pip install -r requirements.txt

before_script:
- psql -c "CREATE DATABASE travisci;" -U postgres

script:
- python manage.py makemigrations
- python manage.py migrate

after_success:
- codeclimate-test-reporter

notifications:
  email: false
#addons:
#  code_climate:
#    repo_token: "$CODE_CLIMATE_REPO_TOKEN"
