language: python

cache:
- pip

python:
- '3.4'
- '3.5'
- '3.6'

services: postgresql

before_install:
- virtualenv venv

install:
- pip install --upgrade pip
- pip install -r requirements.txt

before_script:
- psql -c "CREATE DATABASE travisci;" -U postgres

script:
- python manage.py makemigrations viewer
- python manage.py migrate

after_success:
- codeclimate-test-reporter

notifications:
  email: false
#addons:
#  code_climate:
#    repo_token: "$CODE_CLIMATE_REPO_TOKEN"

deploy:
  provider: cloudfoundry
  api: https://api.eu-gb.bluemix.net
  username: felix.boisselier@etu.utc.fr
  password:
    secure: VgQgYq3MFTLdJFWM6S2Bza2OC0Izb6h7/WWZdDK4g0ZFEDiRw9iShDMt35EHooZfyFTT79oOMyAM4BaPaaWBM9zmLU7fBuF7XDm2RFS4ExIQbrJZ3C8+MANI4zsKXbK2ua5a1t91uuiVCaozpVCxyJCCF6o8MVytH/dX+S67hvWzyfp4ZrPI99h3+sw41dDVT1v01BNMeJNw8ReC0hCKfj5FmvQyQQwK7Rfu0d0CuDfrrtza6fKCNbuWHQbDU3peLDke05oYMWCBWWkkNn904AY2ReZdia9nuZaxnhhxLTO0BKpioiyGQZ9s2O+4oLamOkXRBnatWOO5wPGQJE08yiHow6qz2Dw+4c8OARJPuUN++qJZ9wxPOqQwkntxFD0NMhlPvWwsEGkHm1OmZN6W6gklIi97j7+DvMuW60rjFRq2ILWAZFKewZI2EGd4v2F2sxxkybSGnxycQcDjvXm3ufpltReicJraiwW82FqKhKdUpl2B5gAeZ+YKTINypCdCmkRQicMRs0YbgOtgt/gAPHFtjPrndV4azaoh4rwYcNO4ZsDU9sYGFZESWVZinaK9//lQsjRsf9rgGPTVulfqkebDY0KhlRjmFOadDz9Xme9Td6Mmp1rsF84/udO/tI2QVlmr7Huvk6o8a5abbc3LefdhJVdvaRJhniy0CXNXPqg=
  organization: Semiotweet
  space: prod
  manifest: manifest.yml       # (optional)  Defaults to manifest.yml.
  region: eu-gb                # (optional)  [ng, eu-gb , au-syd] Defaults to US South region (ng).
  on:
    branch: master
    python: '3.6'
    repo: jjerphan/semiotweet
