{% extends "template.html" %}
{% block title %} | Accueil {% endblock %}
{% load static %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Comparer 2 candidats</h1>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <form>
            <div class="row">
                <div class="input-field col s12 m6">
                    <select name="candidat1" id="candidat1">
                  <option value="" disabled selected>Selectionner un candidat...</option>
              </select>
                    <label>Candidat 1</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="candidat2" id="candidat2">
                <option value="" disabled selected>... puis un deuxième, évidemment !</option>
              </select>
                    <label>Candidat 2</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Comparer
              <i class="material-icons right">send</i>
            </button>
                </div>
            </div>
        </form>
    </div>
    <br><br> {% if candidats %}
    <div class="section">
        <div class="row">
            {% for candidat in candidats %}
            <div class="col s6 m6">
                <div class="icon-block">
                    <h5 class="center">Mots les plus employés</h5>
                    <div class="loader"><canvas id="MostCommonWords{{candidat}}"></canvas></div>
                </div>
                <div class="icon-block">
                    <h5 class="center">Lemmes les plus employés</h5>
                    <div class="loader"><canvas id="MostCommonLemmes{{candidat}}"></canvas></div>
                </div>
                <div class="icon-block">
                    <h5 class="center">Distribution des tweets selon les heures</h5>
                    <div class="loader"><canvas id="HoursDistribution{{candidat}}"></canvas></div>
                </div>
                <div class="icon-block">
                    <h5 class="center">Sources des tweets</h5>
                    <div class="loader"><canvas id="doughnutSources{{candidat}}"></canvas></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/Chart.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script>
  $(document).ready(function() {
      $('select').material_select();
      $.get('/api/v1/user', function(res, status) {
        if (status === 'success') {
          for (let i=0 ; i < res.users.length ; i++) {
            $( "select" ).append( "<option value='"+res.users[i].id+"' data-icon='"+ res.users[i].profile_image_url +"' class='left circle'>"+res.users[i].name +"</option>" );
          }
          $('select').material_select();
        }
      });
      {% if candidats %} {% for candidat in candidats %}
      $.get('/api/v1/user/sources', {"id":{{candidat}}}, function(res, status) {
        if (status === 'success') {
          createDonut("doughnutSources{{candidat}}", res.sources, res.num);
          $('#doughnutSources{{candidat}}').parent().removeClass('loader');
        }
      });
      $.get('/api/v1/user/hours', {"id":{{candidat}}}, function(res, status) {
        if (status === 'success') {
          createBarChartHours("HoursDistribution{{candidat}}", res.hours, "Nombre de tweets");
          $('#HoursDistribution{{candidat}}').parent().removeClass('loader');
        }
      });
      $.get('/api/v1/user/wordcount', {"id":{{candidat}}}, function(res, status) {
        if (status === 'success') {
          createBarChart("MostCommonWords{{candidat}}", res.words, "Mots les plus communs");
          $('#MostCommonWords{{candidat}}').parent().removeClass('loader');
        }
      });
      $.get('/api/v1/user/lemmecount', {"id":{{candidat}}}, function(res, status) {
        if (status === 'success') {
          createBarChart("MostCommonLemmes{{candidat}}", res.lemmes, "Lemmes occurences");
          $('#MostCommonLemmes{{candidat}}').parent().removeClass('loader');
        }
      });
      {% endfor %} {% endif %}
  });
</script>
{% endblock %}
