{% extends "template.html" %} {% block title %} | Keywords network {% endblock %} {% load static %} {% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Network</h1>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <!-- TODO : put a network graph here -->
        </div>
        <br><br>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static " js/utils.js " %}"></script>
{% endblock %}
