{% extends "template.html" %}
{% block title %} | Keywords network {% endblock %}
{% load static %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Network</h1>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m9">
                <div class="section">
                    <div class="keywordNetwork" id="keywordsNetwork">
                        <div class="keywordNetworkCanvas loader"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="section">
                    <h5 class="header orange-text">Légende</h5>
                    <p>
                        <i class="material-icons orange-text">fiber_manual_record</i>Candidat<br>
                        <i class="material-icons blue-text">fiber_manual_record</i>Thème<br>
                        <i class="material-icons blue-grey-text">fiber_manual_record</i>Mot clé associé à un thème
                    </p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5 class="header orange-text">Explications</h5>
                    <p>
                        Le graph ci-contre est un réseau "tri-parti" représentant la proximité d'un candidat avec un thème donné (et ses mots clés associés).
                        <br> Plus un candidat est proche d'un mot, plus cela signifie qu'il est présent dans son vocabulaire sur Twitter. De même, plus deux thèmes sont proches sur le graph et plus ceux-ci sont censés être proches sémantiquement.
                    </p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5 class="header orange-text">Contrôles</h5>
                    <div id="actionButton"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/sigma/sigma.min.js" %}"></script>
<script src="{% static "js/sigma/sigma.layout.forceAtlas2.min.js" %}"></script>
<script src="{% static "js/sigma/sigma.plugins.dragNodes.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var width = $('#keywordsNetwork').parent().width();
        $('#keywordsNetwork').width(width);
        $('#keywordsNetwork').height(width * 2 / 3);
        $.get('/api/v1/nlp/network/tweets', function(res, status) {
            if (status === 'success') {
                makeSigmaNetwork('keywordsNetwork', res.network, function(s) {
                    sigmaInst = s;
                    $('#actionButton').html('<a id="simuOff" class="waves-effect waves-light btn red"><i class="material-icons">stop</i></a>' +
                        '<a id="simuOn" style="margin-left: 10px;" class="waves-effect waves-light btn green"><i class="material-icons">play_arrow</i></a>');
                    $('#simuOn').click(function() {
                        sigmaInst.startForceAtlas2();
                    });
                    $('#simuOff').click(function() {
                        sigmaInst.stopForceAtlas2();
                    });
                    $('#keywordsNetwork').children().removeClass('loader');
                });
            }
        });
    });
</script>
{% endblock %}
