{% extends "template.html" %}
{% block title %} | Keywords network {% endblock %}
{% load static %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Network</h1>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
          <div class="col s12 m12">
            <div class="icon-block">
              <div id="keywordsNetwork"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/utils.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.get('/api/v1/nlp/network/tweets', function(res, status) {
            if (status === 'success') {
                var nodes = new vis.DataSet(res.network.nodes);
                var edges = new vis.DataSet(res.network.edges);
                var container = document.getElementById('keywordsNetwork');

                console.log(len(res.network.nodes));
                console.log(len(res.network.edges));
                // var data = {
                //     nodes: nodes,
                //     edges: edges
                // };
                // var options = {};
                // var network = new vis.Network(container, data, options);
            }
        });
    });
</script>
{% endblock %}
