{% extends "template.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Informations sur <span id="title"></span></h1>
        <br><br>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m8">
                <div class="section loader" id="PeopleCard">
                    <div class="card horizontal">
                        <div class="card-image"></div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h5 id="name"></h5>
                                <p>@<span id="screen_name"></span>
                                    <span id="verified"></span>
                                    <br></p>
                                <p id="description"></p>
                            </div>
                            <div class="card-action">
                                <p><span id="followers"></span> followers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4" id="TweetSources">
                <div class="section">
                    <h5 class="center">Sources des tweets</h5>
                    <div class="loader"><canvas id="doughnutSources"></canvas></div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col s12 m6">
                <div class="section" id="Words">
                    <h5 class="center">Mots les plus employés</h5>
                    <div class="loader"><canvas id="MostCommonWords"></canvas></div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="section" id="Distribution">
                    <h5 class="center">Lemmes les plus employés</h5>
                    <div class="loader"><canvas id="MostCommonLemmes"></canvas></div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col s12 m6">
                <div class="section" id="Distribution">
                    <h5 class="center">Distribution des tweets selon les heures</h5>
                    <div class="loader"><canvas id="HoursDistribution"></canvas></div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="section">
                    <h5 class="center">Sujets et mots clés employés</h5>
                    <div class="loader"><svg id="wordcloud"></svg></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block script%}
<script src="{% static "js/Chart.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/d3.layout.cloud.js" %}"></script>
<script>
$(document).ready(function () {
  $.get('/api/v1/user', {"id":{{userId}}}, function(res, status) {
    if (status === 'success') {
      $("#title").html(res.users[0].name);
      $("#name").html(res.users[0].name);
      $("#screen_name").html(res.users[0].screen_name);
      $("#titlePage").html(res.users[0].screen_name);
      $("#description").html(res.users[0].description);
      $("#followers").html(res.users[0].followers_count);
      $(".card-image").html("<img src='"+ res.users[0].profile_image_url+"'>");
      if (res.users[0].verified) {
        $("#verified").html("<img src='/static/images/verified.png' height='25' width='25' alt='Verified'>");
      }
      $('#PeopleCard').removeClass('loader');
    }
  });
  $.get('/api/v1/user/sources', {"id":{{userId}}}, function(res, status) {
    if (status === 'success') {
      createDonut("doughnutSources", res.sources, res.num);
      $('#doughnutSources').parent().removeClass('loader');
    }
  });
  $.get('/api/v1/user/hours', {"id":{{userId}}}, function(res, status) {
    if (status === 'success') {
      createBarChartHours("HoursDistribution", res.hours, "Nombre de tweets");
      $('#HoursDistribution').parent().removeClass('loader');
    }
  });
  $.get('/api/v1/user/wordcount', {"id":{{userId}}}, function(res, status) {
    if (status === 'success') {
      createBarChart("MostCommonWords", res.words, "Mots les plus communs");
      $('#MostCommonWords').parent().removeClass('loader');
    }
  });
  $.get('/api/v1/user/lemmecount', {"id":{{userId}}}, function(res, status) {
    if (status === 'success') {
      createBarChart("MostCommonLemmes", res.lemmes, "Lemmes occurences");
      $('#MostCommonLemmes').parent().removeClass('loader');
    }
  });
  $.get('/api/v1/nlp/lda/topics', {"id":{{userId}}}, function(res, status) {
      if (status === 'success') {
          var topics = res.topics;
          // weight varie en gros de 5 à 50 => on doit remapper
          function sizer(w) {
              return w + 10;
          }
          var words = Array.prototype.concat(...topics.map(t => t.words.map(w => ({
              text: w.label,
              poids: w.weight,
              size: sizer(w.weight),
              topic: t.label
          }))));
          var fill = d3.scaleOrdinal(d3.schemeCategory10);
          var width = $('#wordcloud').parent().parent().width();

          var layout = d3.layout.cloud()
              .size([width, 500])
              .words(words)
              .padding(5)
              .rotate(0)
              .fontSize(d => d.size)
              .font('Roboto')
              .fontWeight(500)
              .spiral('rectangular')
              .on("end", draw);

          layout.start();

          function draw(words) {
              d3.select("#wordcloud")
                  .attr("width", layout.size()[0])
                  .attr("height", layout.size()[1])
                  .append("g")
                  .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                  .selectAll("text")
                  .data(words)
                  .enter().append("text")
                  .style("font-size", d => d.size + "px")
                  .style("font-family", "Roboto")
                  .style("font-weight", 500)
                  .style("fill", (d, i) => fill(d.topic))
                  .attr("text-anchor", "middle")
                  .attr("transform", d => "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")")
                  .text(d => d.text)
                  .append("title")
                  .text(d => "Sujet n°" + d.topic + ", poids : " + d.poids);
              $('#wordcloud').parent().removeClass('loader');
          }
      }
  });
});
</script>
{% endblock %}
