{% extends "template.html" %}
{% block title %} | @{{screen_name}} {% endblock %}

{% block content %}
<section id="part" class="two">
  <div class="container">
    {% if success %}
    <header>
    <h2>{{userInfo.name}} (@{{userInfo.screen_name}}){% if userInfo.verified %} | Verified {% endif %}</h2>
      {% if userInfo.profile_image_url_https %}
        <img src="{{userInfo.profile_image_url_https}}" alt="{{userInfo.screen_name}}" />
      {% endif %}
      <h3>Followers : {{userInfo.followers_count}}</h3>
    </header>
    {% else %}
    <header>
    <h2> Request fail for user {{screen_name}}<h2>
    <header>
    {% endif %}
  </div>
</section>
{% endblock %}
