{% extends "template.html" %}
{% load static %}
{% block title %} | Analyse des sujets {% endblock %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Analyse des sujets</h1>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section" id="Graphs">
        <div class="row">
            <div class="col s12 m4">
                <div class="section">
                    <div class="card vertical">
                        <div id="nbTweetsLoader" class="loader">
                            <div class="card-stacked">
                                <div class="card-content" id="NbTweetsByPolitics"></div>
                                <div class="card-action">
                                    <a>Nombre de tweets de chaque candidat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="section">
                    <h5 class="center">Distribution des tweets selon les heures</h5>
                    <div class="loader"><canvas id="HoursDistribution"></canvas></div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col s12 m6">
                <div class="section">
                    <h5 class="center">Mots les plus employés par les candidats</h5>
                    <div class="loader"><canvas id="barCommonWords"></canvas></div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="section">
                    <h5 class="center">Lemmes les plus employés par les candidats</h5>
                    <div class="loader"><canvas id="barLemmatizedWords"></canvas></div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col s12 m12">
                <div class="section">
                    <h5 class="center">Sujets abordés par les politiques et mots clés correspondants</h5>
                    <div class="loader"><svg id="wordcloud"></svg></div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %} {% block script %}
<script src="{% static "js/Chart.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/d3.min.js" %}"></script>
<script src="{% static "js/d3.layout.cloud.js" %}"></script>
<script>
    $(document).ready(function() {
        $.get('/api/v1/user/hours', function(res, status) {
            if (status === 'success') {
                createBarChartHours("HoursDistribution", res.hours, "Nombre de tweets");
                $('#HoursDistribution').parent().removeClass('loader');
            }
        });
        $.get('/api/v1/user/wordcount', function(res, status) {
            if (status === 'success') {
                createBarChart("barCommonWords", res.words, "Occurence des mots");
                $('#barCommonWords').parent().removeClass('loader');
            }
        });
        $.get('/api/v1/user/lemmecount', function(res, status) {
            if (status === 'success') {
                createBarChart("barLemmatizedWords", res.lemmes, "Occurence des lemmes");
                $('#barLemmatizedWords').parent().removeClass('loader');
            }
        });
        $.get('/api/v1/user/nbtweets', function(res, status) {
            if (status === 'success') {
                var content = res.politics.map((p, i) => '<tr><td>' + p + ':</td><td style="text-align: right;">' + res.nbTweets[i] + '</td></tr>').join('')
                $("#NbTweetsByPolitics").html("<table>" + content + "</table>");
                $('#nbTweetsLoader').removeClass('loader');
            }
        });
        $.get('/api/v1/nlp/lda/topics', function(res, status) {
            if (status === 'success') {
                var topics = res.topics;
                // weight varie en gros de 5 à 50 => on doit remapper
                function sizer(w) {
                    return w + 10;
                }
                var words = Array.prototype.concat(...topics.map(t => t.words.map(w => ({
                    text: w.label,
                    poids: w.weight,
                    size: sizer(w.weight),
                    topic: t.label
                }))));
                var fill = d3.scaleOrdinal(d3.schemeCategory20);
                var width = $('#wordcloud').parent().parent().width();

                var layout = d3.layout.cloud()
                    .size([width, 500])
                    .words(words)
                    .padding(5)
                    .rotate(0)
                    .fontSize(d => d.size)
                    .font('Roboto')
                    .fontWeight(500)
                    .spiral('rectangular')
                    .on("end", draw);

                layout.start();

                function draw(words) {
                    d3.select("#wordcloud")
                        .attr("width", layout.size()[0])
                        .attr("height", layout.size()[1])
                        .append("g")
                        .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", d => d.size + "px")
                        .style("font-family", "Roboto")
                        .style("font-weight", d => 500)
                        .style("fill", (d, i) => fill(d.topic))
                        .attr("text-anchor", "middle")
                        .attr("transform", d => "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")")
                        .text(d => d.text)
                        .append("title")
                        .text(d => "Sujet n°" + d.topic + ", poids : " + d.poids);
                    $('#wordcloud').parent().removeClass('loader');
                }
            }
        });
    });
</script>
{% endblock %}
