{% extends "template.html" %}
{% load static %}
{% block title %} | Analyse des sujets {% endblock %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text text-darken-4">Analyses des sujets</h1>
        <br><br>
    </div>
</div>


<div class="container">
    <div class="section" id="Graphs">
          <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                  <div class="card vertical">
                    <div class="card-stacked">
                      <div class="card-content" id="NbTweetsByPolitics"></div>
                      <div class="card-action">
                        <a>Nombre de tweets de chaque candidat</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="icon-block">
                    <h5 class="center">Distribution des tweets selon les heures</h5>
                    <canvas id="HoursDistribution"></canvas>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Mots les plus employés par les candidats</h5>
                <canvas id="barCommonWords"></canvas>
              </div>
          </div>
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Lemmes les plus employés par les candidats</h5>
                <canvas id="barLemmatizedWords"></canvas>
              </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col s12 m7">
              <div class="icon-block">
                <h5 class="center">Bubble chart des sujets populaires</h5>
                <div class="bubbletree-wrapper">
		               <div class="bubbletree"></div>
	              </div>
              </div>
          </div>
          <div class="col s12 m5">
              <div class="icon-block">
                <h5 class="center">Heatmap des sujets</h5>
              </div>
          </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/raphael.js" %}"></script>
<script src="{% static "js/tween.js" %}"></script>
<script src="{% static "js/bubbletree.js" %}"></script>
<script src="{% static "js/Chart.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script>
$(document).ready(function () {
  createBarChartHours("HoursDistribution",{{hours|safe}},"Number of tweets");
  createBarChart("barCommonWords",{{words|safe}},"Occurence des mots");
  createBarChart("barLemmatizedWords",{{lemmes|safe}},"Occurence des lemmes");

  var politics = {{politics|safe}};
  var nbTweets = {{nbTweets|safe}};
  var content= '';
  for(var i=0 ; i < politics.length ; i++)
    content += '<tr><td>'+ politics[i] + ':</td><td>' + nbTweets[i] + '</td></tr>';
  $( "#NbTweetsByPolitics").html("<table>"+content + "</table>");


  var databubbles = {{bubblesJson|safe}};
  new BubbleTree({
  		data: databubbles,
  		container: '.bubbletree'
  });
});
</script>
{% endblock %}
