{% extends "template.html" %}
{% load static %}
{% block title %} | Words Analysis {% endblock %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text text-darken-4">Words Analysis</h1>
        <br><br>
    </div>
</div>


<div class="container">
    <div class="section" id="Graphs">
          <div class="row">
            <div class="col s12 m3">
                <div class="icon-block">
                  <div class="card vertical">
                    <div class="card-stacked">
                      <div class="card-content" id="NbTweetsByPolitics"></div>
                      <div class="card-action">
                        <a>Number of tweets by Politics</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col s12 m9">
                <div class="icon-block">
                  <div class="icon-block">
                    <h5 class="center">Overview</h5>
                    <p>
                      This page show data computed from an LDA (<i>Latent Dirichlet Allocation</i>) model computed from extracted tweets of all politics.<br>
                      Datas are automaticaly updated every 3h. Last datas from <b>xxxxxxxxxxxxxxxxxxxx</b>.
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Most common words used by all politics</h5>
                <canvas id="barCommonWords"></canvas>
              </div>
          </div>
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Lemmatized words used by all politics</h5>
                <canvas id="barLemmatizedWords"></canvas>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m7">
              <div class="icon-block">
                <h5 class="center">Bubble chart of common topics</h5>
                <div class="bubbletree-wrapper">
		               <div class="bubbletree"></div>
	              </div>
              </div>
          </div>
          <div class="col s12 m5">
              <div class="icon-block">
                <h5 class="center">Topics heatmap</h5>
              </div>
          </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/raphael.js" %}"></script>
<script src="{% static "js/tween.js" %}"></script>
<script src="{% static "js/bubbletree.js" %}"></script>
<script src="{% static "js/Chart.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script>
$(document).ready(function () {
  createBarChart("barCommonWords",{{words|safe}},"Word occurences");
  createBarChart("barLemmatizedWords",{{lemmes|safe}},"Word occurences");

  var politics = {{politics|safe}};
  var nbTweets = {{nbTweets|safe}};
  var content= '';
  for(var i=0 ; i < politics.length ; i++)
    content += '<tr><td>'+ politics[i] + ':</td><td>' + nbTweets[i] + '</td></tr>';
  $( "#NbTweetsByPolitics").html("<table>"+content + "</table>");


  var databubbles = {{bubblesJson|safe}};
  // var databubbles = {
  // 				label: 'Topics',
  // 				amount: 50,
  // 				color: '#0066bb',  // color for root node, will be inherited by children
  // 				children: [
  // 					{ label: 'First child', amount: 15 },
  // 					{ label: 'Second child', amount: 20 },
  // 					{ label: 'Third child', amount: 15, color: '#ff3300' }
  // 				]
  // 			};
  new BubbleTree({
  		data: databubbles,
  		container: '.bubbletree'
  });
});
</script>
{% endblock %}
