{% extends "template.html" %}
{% block title %} | Get tweets {% endblock %}

{% block content %}
<section id="part" class="two">
  <div class="container">
    {% if success %}
    <h1> {{nbTweetToExtract}} tweets extracted from user @{{screen_name}}<h1>
      <div class="table-responsive-vertical shadow-z-1">
        <p style="text-align=left;">
        <table id="table" class="table table-hover table-mc-light-blue">
          <tr>
            <th> # ID </th>
            <th> Text </th>
            <th> Source </th>
            <th> # Fav </th>
            <th> # RT </th>

          </tr>
          {% for t in tweets %}
          <tr>
              <td> {{t.id}} </td>
              <td> {{t.text}} </td>
              <td> {{t.source}} </td>
              <td> {{t.favorite_count}} </td>
              <td> {{t.retweet_count}} </td>
          </tr>
          {% endfor %}
      </table>
    </p>
    </div>
    {% else %}
    <h1> Request fail for user {{screen_name}}<h1>
    {% endif %}
  </div>

</section>
{% endblock %}
