{% extends "template.html" %}
{% block title %} | Getting all the tweets {% endblock %}

{% block content %}
<section id="part" class="two">
  <div class="container">
    {% if success %}
    <header>
    <h2> Common words and semantic fields of :
      <ul>
        {% for w in specifiedWords%}
          <li> {{w}} </li>
        {% endfor %}
      </ul> saved!<h2>
    </header>
    {% else %}
    <header>
    <h2> Failure during words' extraction : <h2>
    </header>
    {% endif %}
  </div>
</section>
{% endblock %}
