{% extends "template.html" %}
{% block title %} | HomePage {% endblock %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text text-darken-4">Semiotweet</h1>
        <div class="row center">
            <h5 class="header col s12 light">Tweets analysis from Politics</h5>
        </div>
        <br><br>
    </div>
</div>


<div class="container">
    <div class="section" id="Graphs">
          <div class="row">
            <div class="col s12 m3">
                <div class="icon-block">
                  <div class="card vertical">
                    <div class="card-stacked">
                      <div class="card-content" id="NbTweetsByPolitics"></div>
                      <div class="card-action">
                        <a>Number of tweets by Politics</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <h5 class="center">Tweet sources</h5>
                    <canvas id="doughnutSources"></canvas>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="icon-block">
                    <h5 class="center">Hours Distribution</h5>
                    <canvas id="HoursDistribution"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Most common words used by all politics</h5>
                <canvas id="barCommonWords"></canvas>
              </div>
          </div>
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Lemmatized words used by all politics</h5>
                <canvas id="barLemmatizedWords"></canvas>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12">
              <div class="icon-block">
                <h5 class="center">Bubble chart of common topics</h5>
                <div class="bubbletree-wrapper">
		               <div class="bubbletree"></div>
	              </div>
              </div>
          </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}




{% block script %}


<script>
var sources = {{sources|safe}};
var num = {{num|safe}};
if (sources.length == 0)
  $( "#Graphs").html("<div class='row center'><h3>No data yet. Click <a href='/getData/'>here</a> to update data</h3></div>");
else
  createDonut("doughnutSources", sources, num);
let words = {{words|safe}};
let lemmes = {{lemmes|safe}};
createBarChart("barCommonWords",words,{{colorsForBars|safe}},"Word occurences");
createBarChart("barLemmatizedWords",lemmes,{{colorsForBars|safe}},"Word occurences");


var politics = {{politics|safe}};
var nbTweets = {{nbTweets|safe}};
var content= '';

for(var i=0 ; i < politics.length ; i++)
  content += '<tr><td>'+ politics[i] + ':</td><td>' + nbTweets[i] + '</td></tr>';
$( "#NbTweetsByPolitics").html("<table>"+content + "</table>");


var hours = {{hours|safe}};
if (hours.length != 0){
      var colorsForBars = ['#060709', '#0e1420', '#13182c', '#162640', '#22345c', '#2c4e8d', '#4673b6', '#68a1d8', '#98cfee', '#b7e2f5', '#a9d5f2', '#9fcaed',
                            '93bde3', '#87aed9', '#789ccc', '#7399c6', '#7080bb' , '#5d6ab0', '#364392', '#272e64', '#272e64', '#0f1221', '#0f1221', '#0f1221' ];

      var ctx3 = document.getElementById("HoursDistribution");

      var data3 = {
          labels: [0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23],
          datasets: [{
              label: "Number of tweets",
              data: hours,
              backgroundColor: colorsForBars,
              borderColor: colorsForBars
          }]
      };
      var options3 = {
          animation: {
              animateScale: true
          },
          title: {
              display: false,
              text: 'Post count per hour'
          },

      };
      var myBarChart3 = new Chart(ctx3, {
          type: 'bar',
          data: data3,
          options: options3
      });
}

var databubbles = {{bubblesJson|safe}};
// var databubbles = {
// 				label: 'Topics',
// 				amount: 50,
// 				color: '#0066bb',  // color for root node, will be inherited by children
// 				children: [
// 					{ label: 'First child', amount: 15 },
// 					{ label: 'Second child', amount: 20 },
// 					{ label: 'Third child', amount: 15, color: '#ff3300' }
// 				]
// 			};
new BubbleTree({
		data: databubbles,
		container: '.bubbletree'
});

</script>
{% endblock %}
