{% extends "template.html" %}
{% block title %} | Accueil {% endblock %}
{% load static %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Semiotweet</h1>
        <div class="row center">
            <h5 class="header col s12 light">Analyse des tweets des candidats à la présidentielle</h5>
        </div>
        <br><br>
    </div>
</div>


<div class="container">
    <div class="section" id="Graphs">
        <div class="row">
            <div class="col s12 m9">
                <div class="section">
                    <h5 class="header">Aperçu</h5>
                    <p id="apercu">
                        Semiotweet permet d'analyser les tweets des 11 candidats à l'élection présidentielle française de 2017 et d'en ressortir des informations telles que les mots, les champs sémantiques et les sujets les plus abordés par chaque candidat. Cette première version
                        est amenée à être améliorée et étoffée au fur et à mesure avec d'autres indicateurs. Enfin, les informations présentées sont mises à jour régulièrements et automatiquement par nos algorithmes.
                        <br>N'hésitez pas à y jeter un coup d'oeil et à partager vos retours !<br><br> Dernière mise à jour le : <b><span id="MAJ"></span></b>
                    </p>
                </div>
                <div class="section loader">
                    <h5 class="header">Il aurait pu tweeter...</h5>
                    <p id="faketweet"></p>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="section">
                    <div class="card vertical">
                        <div id="nbTweetsLoader" class="loader">
                            <div class="card-stacked">
                                <div class="card-content" id="NbTweetsByPolitics"></div>
                                <div class="card-action">
                                    <a>Nombre de tweets de chaque candidat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% endblock %} {% block script %}
<script src="{% static "js/Chart.js" %}"></script>
<script src="{% static "js/utils.js" %}"></script>
<script>
    $(document).ready(function() {
        $.get('/api/v1/tweet/last', function(res, status) {
            if (status === 'success') {
                var maj = new Date(res).toLocaleString();
                $("#MAJ").html(maj);
            }
        });
        $.get('/api/v1/nlp/faketweet', function(res, status) {
            if (status === 'success') {
                $('#faketweet').html('<b>' + res.name + '</b> : ' + res.fakeTweet);
                $('#faketweet').parent().removeClass('loader');
            }
        });
        $.get('/api/v1/user/nbtweets', function(res, status) {
            if (status === 'success') {
                var content = '';
                for (var i = 0; i < res.politics.length; i++)
                    content += '<tr><td>' + res.politics[i] + ':</td><td>' + res.nbTweets[i] + '</td></tr>';
                $("#NbTweetsByPolitics").html("<table>" + content + "</table>");
                $('#nbTweetsLoader').removeClass('loader');
            }
        });
    });
</script>
{% endblock %}
