<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Semiotweet{% block title %} {% endblock %}</title>

    <!-- CSS  -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
</head>

<body>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/displayInfo/MarCharlott">Charlotte Marchandise</a></li>
        <li><a href="/displayInfo/PhilippePoutou">Philippe Poutou</a></li>
        <li><a href="/displayInfo/JLMelenchon">Jean-Luc Mélenchon</a></li>
        <li><a href="/displayInfo/benoithamon">Benoît Hamon</a></li>
        <li><a href="/displayInfo/EmmanuelMacron">Emmanuel Macron</a></li>
        <li><a href="/displayInfo/FrancoisFillon">François Fillion</a></li>
        <li><a href="/displayInfo/MLP_officiel">Marine Le Pen</a></li>
    </ul>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo right">Semiotweet</a>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/getData/"><span class="icon fa-twitter">Update datas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Politics people<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/getData/">Update datas</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Politics people<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container">
                Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> by <a class="orange-text text-lighten-3" href="http://jjerphan.github.io/">Julien Jerphanion</a>, <a class="orange-text text-lighten-3" href="#">Valentin Montupet</a> &amp; <a class="orange-text text-lighten-3" href="#">Félix Boisselier</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static "js/d3js/d3.min.js" %}"></script>
    <script src="{% static "js/Chart.js" %}"></script>
    <script>
      $( document ).ready(function() {
        $(".dropdown-button").dropdown();
      });
    </script>

    {% block script %} {% endblock %}

</body>

</html>
