<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Semiotweet{% block title %} {% endblock %}</title>

    <!-- CSS  -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
    <script type="text/javascript">

    </script>
</head>

<body>
<header>
    <ul id="dropdown1" class="dropdown-content blue-grey darken-3">
        <li><a class="blue-text text-lighten-5"href="/displayInfo/n_arthaud">Nathalie Arthaud</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/UPR_Asselineau">François Asselineau</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/JCheminade">Jacques Cheminade</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/dupontaignan">Nicolas Dupont-Aignan</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/FrancoisFillon">François Fillion</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/benoithamon">Benoît Hamon</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/alainjuppe">Alain Juppé</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/jeanlassalle">Jean Lassale</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/MLP_officiel">Marine Le Pen</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/EmmanuelMacron">Emmanuel Macron</a></li>
        <!-- <li><a class="blue-text text-lighten-5"href="/displayInfo/MarCharlott">Charlotte Marchandise</a></li> -->
        <li><a class="blue-text text-lighten-5"href="/displayInfo/JLMelenchon">Jean-Luc Mélenchon</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/PhilippePoutou">Philippe Poutou</a></li>
        <li><a class="blue-text text-lighten-5"href="/displayInfo/ramayade">Rama Yade</a></li>
    </ul>
    <nav class="blue-grey darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo right"><img src="{% static "images/semiotweet_side.jpg" %}" height="38px" width="50px" />Semiotweet</a>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/getData/"><span class="icon fa-twitter">Update data</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Politics people<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/getData/">Update data</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Politics people<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

    <footer class="page-footer blue-grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                Made with <a class="blue-text text-lighten-5" href="http://materializecss.com">Materialize</a> by <a class="blue-text text-lighten-5" href="http://jjerphan.github.io/">Julien Jerphanion</a>, <a class="blue-text text-lighten-5" href="http://valentinmntp.github.io/">Valentin Montupet</a> &amp; <a class="blue-text text-lighten-5" href="#">Félix Boisselier</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/Chart.js" %}"></script>
    <script>
      $( document ).ready(function() {
        $(".dropdown-button").dropdown();
      });
    </script>

    {% block script %} {% endblock %}

</body>

</html>
