
.bubbletree-wrapper {
	width: 100%;
	position: relative;
}

.bubbletree-wrapper:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.bubbletree {
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
}

.bubbletree .bubbletree-label {
	position: absolute;
	color: #fff;
	text-align: center;
	cursor: default;
}

.bubbletree .bubbletree-amount {
	font-size: 0px;
	display: none;
}

.bubbletree .bubbletree-desc {
	font-size: 18px;
}

.bubbletree .bubbletree-label2 {
	position: absolute;
	color: #000;
	text-align: center;
	cursor: default;
	font-size: 11px;
	margin-top:5px;
}

.bubbletree .bubbletree-label2 span {
	background: #fff;
}

.loading {
	z-index: 1000;
	position: absolute;
	width: 700px;
	height: 400px;
}
